<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Corporate_Recruitment_System</display-name>
  <filter>
    <filter-name>Validator</filter-name>
    <filter-class>com.controller.Validator</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Validator</filter-name>
    <url-pattern>/Admin_Start</url-pattern>
    <url-pattern>/User_Start</url-pattern>
    <url-pattern>/Company_Start</url-pattern>

  </filter-mapping>
  <filter>
    <filter-name>Seperator</filter-name>
    <filter-class>com.controller.Seperator</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Seperator</filter-name>
    <url-pattern>/Admin_Start</url-pattern>
    <url-pattern>/User_Start</url-pattern>
    <url-pattern>/Company_Start</url-pattern>
    
  </filter-mapping>
  <servlet>
    <servlet-name>User_Controller</servlet-name>
    <servlet-class>User_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_Controller</servlet-name>
    <url-pattern>/User_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Admin_Controller</servlet-name>
    <servlet-class>Admin_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_Controller</servlet-name>
    <url-pattern>/Admin_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Company_Controller</servlet-name>
    <servlet-class>Company_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Company_Controller</servlet-name>
    <url-pattern>/Company_Controller</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Admin_Start</servlet-name>
    <servlet-class>Admin_Start</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_Start</servlet-name>
    <url-pattern>/Admin_Start</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>User_Start</servlet-name>
    <servlet-class>User_Start</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_Start</servlet-name>
    <url-pattern>/User_Start</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Company_Start</servlet-name>
    <servlet-class>Company_Start</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Company_Start</servlet-name>
    <url-pattern>/Company_Start</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Resume_Upload</servlet-name>
    <servlet-class>Resume_Upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Resume_Upload</servlet-name>
    <url-pattern>/Resume_Upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Resume_Update</servlet-name>
    <servlet-class>Resume_Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Resume_Update</servlet-name>
    <url-pattern>/Resume_Update</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>